@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #96ADD6;
}


html {
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 22vh;
    top: 0;
    background-color: #F2EFEA;
    margin-bottom: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    z-index: 10;
}

.header-h1{
    background-color: rgba(242, 239, 234, 0);
    color: #162847;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 11.5vh;
    margin-left: 20px;
}

.header-logo{
    background-color: #F2EFEA;
    border-radius: 50%;
    height: 17vmin;
    width: 17vmin;
    margin-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-logo-img{
    background-color: #96ADD6;
    border-radius: 50%;
    height: 17vmin;
    width: 17vmin;
}


.header-dropdown {
    position: relative;
    display: inline-block;
    background-color: rgba(242, 239, 234, 0);
    margin-bottom: 40px;
}

.header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 9vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
}


.dropdown-content .tab {
    padding: 12px 16px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #162847;
    font-size: 20px;
    text-decoration: none;
    display: block;
}


.header-dropdown-content a:hover {background-color: #E75136;}


.header-dropdown:hover .header-dropdown-content {display: block;}

.show{
    display: block;
}
.tab.active{
    background-color: #F2EFEA;
}

#menu{
    background-color: #F2EFEA;
    color: #E75136;
    font-size: 8vh;
    border: none;
    margin: 50px 70px 20px 30px;
}

@media  only screen and (max-width: 950px){
    .header{
        height: 24vh;
    }
    .header-h1{
        font-size: 8vh;

    }
    #menu{
        font-size: 6vh;
    }
    .header-logo-img{
        height: 13vmin;
        width: 13vmin;
    }
    .header-logo{
        height: 13vmin;
        width: 13vmin;
    }

}

@media  only screen and (max-width: 450px){
    .header{
        height: 24vh;
    }
    .header-h1{
        font-size: 4vh;

    }
    #menu{
        margin-left: 10px;
    }
    .header-dropdown-content .tab {
        font-size: 2vh;
    }
    .header-dropdown-content{
        min-width: 5vw;
    }
}



